// SCSS
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Lobster&display=swap");
$main-color: rgb(255, 192, 203);
@keyframes shuffle {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.5rem;
}
body {
  font-family: "Comfortaa", cursive;
  h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    font-family: "Lobster", cursive;
    color: $main-color;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #canvas {
    position: relative;
    border: 10px solid $main-color;
    border-radius: 10px;
    transition: 2s ease-out;
  }
  .restart {
    display: block;
    padding: 1rem;
    font-family: "Comfortaa", cursive;
    font-size: 1rem;
    cursor: pointer;
    appearance: none;
    border: none;
    background-color: $main-color;
    color: white;
    margin: auto;
  }
  .gameover {
    margin: 1rem;
    transition: 1s ease-in;
    display: none;
    opacity: 0;
    h2 {
      color: red;
    }
  }
  .paused {
    animation: 1s ease-in infinite shuffle;
    display: none;
    opacity: 0;
  }
  .score {
    color: $main-color;
  }
}
