// SCSS
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #canvas {
    position: relative;
    border: 2px solid red;
  }
  .gameover {
    transition: 1s ease-in;
    display: none;
    opacity: 0;
    h2 {
      color: red;
    }
  }
  .paused {
    transition: 1s ease-in;
    display: none;
    opacity: 0;
  }
}
